/* My Styles */
@import url('author.css');

body {
    margin: 0;
    background-color: black;
}

.gallery {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr; */
    gap: 1em;
    justify-items: center;
    align-items: center;
    background-color: black;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 15em;
    border-radius: 10px;
    border: solid black;
    background-color: black;
    width: 300px;
}

figure:hover {
    transition: 1s;
    background-color: crimson;
    animation: swing 2s 20ms infinite;
    color: white;
}

img {
    height: 10em;
    margin: .5em;
    border-radius: 5px;
    /* filter: grayscale(60%);     */
}

figcaption {
    margin: .5em;
    font-family: 'Author-Regular';
    font-size: 1em;
    /* color: white; */
}
