/* My Styles */
@import url('author.css');

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: space-evenly;
    align-items: center;
    background-color: darkgray;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 10em;
    border-radius: 10px;
    border: solid black;
    background-color: crimson;
}

img {
    height: 6em;
    margin: .5em;
}

figcaption {
    margin: .5em;
    font-family: 'Author-Regular';
    font-size: 1em;
}